/* Challenger: Styles here */
/*[BONUS]*/
/*2. Use vh units to ensure the field is fully on screen on mobile.*/

:root {
    --grass-stain: #8AC24A;
    --grass-stain-20: #16452d;;
    --white: #FFF;
    --mango: #FDD835;
    --slate: #294661;
}

body {
    margin-top: 0;
}
 /*[TO] 5. Customize your markup and
 craft your CSS to style. */
.sg-gridiron {
    border: 10px solid var(--slate);
    box-sizing: border-box;
    overflow: hidden;
    border: 10px solid var(--slate);
    box-sizing: border-box;
    overflow: hidden;
    height: 54.334vw;
    max-height: 100vh;
    max-width: 1000px;
    transition: all .5s ease;

    /* [TO] 6. Using a media query, flip
    the field vertically at 640px
    viewport width. The mobile version
    need not have yard markers or a scrimmage line.*/

    transform: rotate(270deg);
    position: absolute;
    top: 21%;
    bottom: 0;
    left: 0;
    right: 0;
}

.sg-gridiron__draggable {
    border: 3px solid var(--mango);
    position: absolute;
    display: none;
    width: 30px;
    left: 3px;
    z-index: 3;
    max-width: 30px;
    height: 30px;
    background-color: var(--mango);
    color: var(--white);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.sg-gridiron__draggable p {
    font-family: Arial, sans-serif;
    color: var(--grass-stain);
    margin: 0;
    line-height: 30px;
    text-align: center;
    z-index: 3;
    font-size: 16px;
}

.sg-gridiron__draggable:after {
    content: '';
    height: 1000px;
    width: 3px;
    background-color: var(--mango);
    position: absolute;
    top: 30px;
    left: 13px;
}

.sg-gridiron__draggable:before {
    content: '';
    height: 1000px;
    width: 3px;
    background-color: var(--mango);
    position: absolute;
    bottom: 30px;
    left: 13px;
}

.sg-gridiron__field {
    background: var(--grass-stain);
    border: 3px solid var(--white);
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.sg-gridiron__field-spacer {
    background: var(--grass-stain-20);
    border-right: 1px solid var(--white);
    width: 20%;
}

.sg-gridiron__field-element {
    background: var(--grass-stain);
    border-right: 1px solid var(--white);
    width: 20%;
    position: relative;
}

.sg-gridiron__field-element p {
    color: var(--white);
    font-family: Arial, sans-serif;
    font-size: 16px;
    bottom: 10%;
    position: absolute;
    left: 75%;
    z-index: 2;
    display: none;
}

.sg-gridiron__field-element:nth-child(-n+5) p:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: -15%;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 4px solid var(--white);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sg-gridiron__field-element:nth-child(1n+7) p:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: -7px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 4px solid var(--white);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
}

.sg-gridiron__field-element:nth-child(11) p {
    display: none;
}
/* [TO] 6. Using a media query,
// flip the field vertically at
// 640px viewport width. The mobile
// version need not have yard markers
// or a scrimmage line.*/

@media screen and (min-width: 640px){

  /* [TO] 6. Using a media query, flip
  the field vertically at 640px
  viewport width. The mobile version
  need not have yard markers or a scrimmage line.*/

  .sg-gridiron{
    transform: rotate(0deg);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    // [TO] aspect ratio
    position: absolute;

    width: 100vw;
    height: 54.334vw;
    max-height: calc(10px* 54.334);
    max-width: 1000px;
    margin: auto;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transition: all .5s ease;
  }

  .sg-gridiron__draggable {
    display: block;
  }

  .sg-gridiron__field-element p {
    display: block;
  }
}

@media screen and (min-width: 730px){
  .sg-gridiron__draggable {
      font-size: 36px;
  }

  .sg-gridiron__field-element p {
      font-size: 36px;
  }
}
